.a-type-point {
    background-color: #D6E685 !important;
}

.b-type-point {
    background-color: #8CC665 !important;
}

.c-type-point {
    background-color: #44A340 !important;
}

.d-type-point {
    background-color: #1E6823 !important;
}

.e-type-point {
    background-color: #EEEEEE !important;
}